# Configuration file

general {
    # ALL will show everything, MINIMAL will show each shape once, NONE will hide all microblocks from JEI
    S:"JEI Display Mode"=ALL

    # Transparency of the preview, 0 is completely transparent, 1 is opaque
    D:"Placement Preview Transparency"=0.800000011920929

    # Set to false to disable ghost preview when placing parts
    B:"Show Placement Preview"=true
}


