# Configuration file

clipboard {
    I:0 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        2
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        46
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        -32
        71
        112
        -45
        -117
        18
        -117
        -117
        25
        24
        26
        88
        -2
        -113
        -126
        -63
        9
        62
        64
        33
        -115
        -27
        1
        -104
        -93
        9
        20
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        2
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        48
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        -32
        71
        112
        -45
        -117
        18
        -117
        -117
        25
        24
        26
        88
        -2
        -29
        2
        31
        -96
        112
        -96
        -28
        71
        1
        93
        0
        0
        48
        -108
        9
        20
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        2
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        46
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        -32
        71
        112
        -45
        -117
        18
        -117
        -117
        25
        24
        26
        88
        -2
        -113
        -126
        65
        9
        62
        64
        33
        -83
        -27
        1
        -105
        -77
        9
        20
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        2
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        48
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        -32
        71
        112
        -45
        -117
        18
        -117
        -117
        25
        24
        26
        88
        -2
        -29
        0
        31
        -96
        112
        -96
        -28
        71
        1
        125
        0
        0
        47
        -92
        9
        20
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        -83
        3
        0
        1
        115
        0
        0
        0
        43
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        63
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        16
        65
        112
        -109
        -13
        19
        115
        -30
        -109
        114
        -14
        -109
        -77
        25
        24
        26
        88
        -2
        51
        -96
        66
        116
        64
        115
        -7
        15
        -40
        33
        -35
        -28
        -47
        1
        76
        5
        -52
        -59
        -61
        92
        30
        0
        19
        53
        103
        -45
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:5 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        -83
        3
        0
        1
        115
        0
        0
        0
        37
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        65
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        16
        65
        112
        -109
        -13
        19
        115
        -30
        -109
        114
        -14
        -109
        -77
        25
        24
        62
        48
        -1
        71
        7
        31
        -96
        -112
        1
        10
        -121
        -69
        -4
        7
        -20
        -112
        1
        10
        104
        46
        -113
        6
        -47
        1
        -75
        -27
        1
        125
        11
        104
        66
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:6 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        -83
        3
        0
        1
        115
        0
        0
        0
        25
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        64
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        16
        65
        112
        -109
        -13
        19
        115
        -30
        -109
        114
        -14
        -109
        -77
        25
        24
        26
        88
        24
        -2
        -93
        65
        116
        64
        99
        121
        -2
        -1
        -40
        33
        -67
        -28
        -1
        -93
        1
        -72
        60
        20
        14
        119
        121
        0
        -128
        57
        33
        -125
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:7 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        -83
        3
        0
        1
        115
        0
        0
        0
        21
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        67
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        16
        65
        112
        -109
        -13
        19
        115
        -30
        -109
        114
        -14
        -109
        -77
        25
        24
        62
        48
        -1
        71
        3
        -4
        80
        -56
        0
        -123
        -61
        93
        -98
        31
        7
        100
        -128
        2
        90
        -53
        51
        -4
        71
        -125
        -24
        -128
        -54
        -14
        0
        70
        -15
        33
        -14
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:8 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        -83
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        55
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        16
        65
        112
        -109
        -13
        19
        115
        -30
        -109
        114
        -14
        -109
        -77
        25
        24
        26
        88
        -2
        15
        86
        -16
        1
        10
        71
        -86
        60
        3
        20
        -46
        88
        30
        0
        -27
        75
        -6
        19
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


